;; shadow-cljs configuration
{:deps {:aliases [:cljs]}

 :dev-http {8080 "public"}

 :builds
 {:ui
  {:target :browser
   :output-to "public"
   :asset-path "/js"
   :modules {:main {:init-fn plotly-pyclj.live.core/main}}}}}
